<?xml version="1.0" encoding="utf-8" ?>

<config xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="vars.xml" />
    <xi:include href="pages.xml" />
    <xi:include href="datasources.xml" />
    <xi:include href="procedures.xml" />
    <xi:include href="roles.xml" />
    <xi:include href="permissions.xml" />
</config>